.container {
  width: 1000px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 1%;
}
.first_line {
  width: 50%;
  justify-content: space-around;
  display: flex;
}
.second_line {
  width: 50%;
  justify-content: space-around;
  display: flex;
}
.box1 {
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
}
.lesson {
  width: 80px;
  height: 80px;
}
.box1:hover {
  background-color: #fafafa;
  transform: translateY(-0.1in);
  transition: all 0.4s;
}
.business {
  width: 80px;
  height: 80px;
}
.box2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  opacity: 0.2;
}
.etc {
  width: 80px;
  height: 80px;
}
.event {
  width: 80px;
  height: 80px;
}
.health {
  width: 80px;
  height: 80px;
}
.home {
  width: 80px;
  height: 80px;
}
.partTime {
  width: 80px;
  height: 80px;
}
.design {
  width: 80px;
  height: 80px;
}

@media (max-width: 760px) {
  .container {
    width: 100%;
    margin: 0px auto;
    display: block;
    //justify-content: space-between;
    margin-top: 3%;
    flex-wrap: wrap;
    margin-bottom: 10%;
  }
  .first_line {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .second_line {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 761px) and (max-width: 990px) {
}

@media (min-width: 991px) {
}
